*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/fundo.png) no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.img-estrela{
    width: 60px;
}

#hud{
    display: flex;
    gap: 15px;
    padding: 10px;
}

.mosquito{
    width: 100px;
}